/node_modules
/public/hot
/public/storage
/public/storage
/public/assets
/public/vendor
/storage/*.key
/storage/files
/storage/debugbar
/vendor
/.idea
/.vagrant
/.docker
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
